[submodule "module/loglib"]
	path = module/loglib
	url = https://github.com/LingNc/loglib-cpp.git
[submodule "module/yaml-cpp-builder"]
	path = module/yaml-cpp-builder
	url = https://github.com/LingNc/yaml-cpp-builder.git
