# 白名单
*
!*/

# 开始
!**/.gitignore
!module/*/
!build_yaml/*.*

!include/**
!ext/**
!example/*.cpp
!lib/*.a
!install.sh
!service/**

!src/*.cpp
!config/config.yaml

!tools/*.py

!FileServer.code-workspace
!Makefile
!LICENSE
!README.md

**/*.key